{% extends "index.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'css/style_auth.css' %}">{% endblock %}
{% block title %}Вход{% endblock %}

{% block main_content %}
        <div class="auth_page">
            <div class="input_area">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label>Логин</label>
                    {{ form.username }}

                    <label>Пароль</label>
                    {{ form.password }}

                    <span><a href="{% url 'password_reset' %}">Забыли пароль?</a></span>
                    <span><a href="{% url 'registration' %}">Зарегистрироваться</a></span>
                    <button type="submit" value="login" id="id_login_button">Вход</button>

                    {% if form.errors %}
                    <span style="color: #8749BC; text-align: center;">Введен неверный логин или пароль.</span>
                    {% endif %}
                </form>
            </div>
        </div>
{% endblock %}
