{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static '/css/style_auth.css' %}">{% endblock %}
{% block title %}Сброс пароля{% endblock %}

{% block main_content %}
        <div class="auth_page">
            <div class="input_area">
                <p>Для восстановления пароля введите e-mail, который вы указали при регистрации.</p>
                <p>На него будет отправлено сообщение с инструкцией для восстановления.</p>
                <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
{% endblock %}
