{% extends 'base.html' %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static '/css/style_auth.css' %}">{% endblock %}
{% block title %}Сброс пароля{% endblock %}
{% block main_content %}

{% if validlink %}
        <div class="auth_page">
            <div class="input_area">
                <p>Придумайте новый пароль.</p>
                <form method="post">
                    {% csrf_token %}

                    <p>Введите новый пароль</p>
                    {{ form.new_password1 }}
                    {% for error in form.new_password2.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

                    <p>Подтвердите новый пароль</p>
                    {{ form.new_password2 }}
                    {% for error in form.new_password2.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

                    <button type="submit">Изменить проль</button>
                </form>

            </div>
        </div>
{% else %}
    <div class="center_text">
    Данная ссылка недействительна. Вы можете опять запросить сброс пароля {% url 'password_reset' %}
    </div>
{% endif %}

{% endblock %}
