{% extends "index.html" %}
{% block title %} {{ code }} {% endblock %}

{% block main_content %}
        <div style="display: flex; justify-content: center; align-items: center; min-height: 350px; font-size: 2em;">
            <p>Ок, вы решили почитать, что же тут написано… Неплохо!
                Наверное, мне следовало придумать какой-нибудь оригинальный текст,
                где вы, например, продаете мне свою душу или что-то вроде того
                но, я просто скажу, что если вы ввели настоящий e-mail, то
                он не будет использован для всяких неприятных вещий…
                <br />...ну, скорее всего.</p>
        </div>
{% endblock %}
