{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'profiles/css/style_reg.css' %}">{% endblock %}
{% block title %}Вход{% endblock %}

{% block main_content %}
        <div class="reg_page">
            <div class="input_area">
                <form method="post" action="{% url 'registration' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                        <span style="color: red; text-align: center;">{{ field.errors.0 }}</span>
                        {% endif %}

                    {% if forloop.last %}
                        <div class="license">
                            {{ field }}
                            <span>{{ field.label }}<a href="{% url 'license' %}"> лицензионное соглашение</a></span>
                        </div>
                    {% else %}
                        <span>{{ field.label }}</span>
                        {{ field }}
                    {% endif %}

                    {% endfor %}
                    <button type="submit">Регистрация</button>
                </form>
            </div>
        </div>
{% endblock %}
