{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/auth/style_auth.css' %}">{% endblock %}
{% block title %} { name_category } {% endblock %}

{% block main_content %}
        <div class="auth_page">
            <div class="login_area">
                <form method="post">
                    <label for="login">Login or mail</label>
                    <input type="text" name="login">
                    <label for="pswd">passwd</label>
                    <input type="password" name="pswd">
                    <a href="">Восстановить пароль</a>
                    <button type="submit">Вход</button>
                    <label style="color: red">Login_error</label>
                </form>
            </div>
            <div class="new_user_area">
                <form method="post">
                    <label><i>Not account? Create new now!</i></label>
                    <label for="login">Login</label>
                    <input type="text" name="login">
                    <label for="mail">e-mail</label>
                    <input type="text" name="mail">
                    <label for="pswd">passwd</label>
                    <input type="password" name="pswd">
                    <label for="pswd">repeat passwd</label>
                    <input type="password" name="pswd">
                    <div>
                        <input type="checkbox">
                        <span>Я принимаю <a href="#">лицензионное соглащение</a></span>
                    </div>

                    <button type="submit">Регистрация</button>
                    <label style="color: red">New user error</label>
                </form>
            </div>
        </div>
{% endblock %}
