{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_basket.css' %}">{% endblock %}
{% block title %}Корзина{% endblock %}

{% block main_content %}
        <div class="basket_page">
            <h2>Ваши товары</h2>
            <ul>
            </ul>
            <div class="total">
                    <span>Ваша корзина пуста :( <a href="{% url 'index' %}">Начать покупки!</a></span>
            </div>
        </div>
{% endblock %}
