{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/basket/style_basket.css' %}">{% endblock %}
{% block title %}Корзина{% endblock %}

{% block main_content %}
        <div class="basket_page">
            <h2>Ваши товары</h2>
            <ul>
                {% for product in products %}
                <li>
                    <div class="product">
                        <a href="{{ product.link }}"><img src="{% static product.instance.picture_name.url %}"></a>
                        <a href="{{ product.link }}">
                            <div class="info_product">
                                <span class="name_product">{{ product.instance.name }}</span>
                            </div>
                        </a>
                        <div class="delete_area">
                            <span>{{ product.instance.price|floatformat }} руб.</span>
                            <span>Количество</span>
                                <div class="count">
                                    <a href="{% url 'sub_from_basket' product.instance.id %}">-</a>
                                    <span>{{ product.count }}</span>
                                    <a href="{% url 'add_in_basket' product.instance.id %}">+</a>
                                </div>
                            <a href="{% url 'delete_from_basket' product.instance.id %}"><button>Удалить</button></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total">
                {% if not products|length %}
                    <span>Ваша корзина пуста :( <a href="{% url 'index' %}">Начать покупки!</a></span>
                {% else %}
                 <span>К оплате: {{ sum_price }} руб.</span>
                <a href="{% url 'buy_products' %}"><button type="submit">Оформить</button></a>
                {% endif %}
            </div>
        </div>
{% endblock %}
