{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_basket.css' %}">{% endblock %}
{% block title %}Корзина{% endblock %}

{% block main_content %}
        <div class="basket_page">
            <h2>Ваши товары</h2>
            <div id="basket_content">
                <span>Загрузка ...</span>
            </div>
        </div>
<script type="application/ecmascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'store/js/basket.js' %}"></script>
{% load static %}
{% endblock %}
