{% extends "store/page_with_numbers.html" %}
{% load static %}

{% block additional_styles %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_category.css' %}">
{% endblock %}

{% block content_at_page %}
        <h2>{{ title }} {{ total_count }} товаров</h2>
        <div class="products">
            {% for product in products %}
            <div class="product" title="{{ product.product.name }}">
                <a href="{{ product.get_absolute_url }}"><div>
                <img src="{% static product.product.picture_name.url %}">
                <div class="name_product"><span>{{ product.product.name }}</span></div>
                {% for author in product.authors.all %}
                <span class="author_product">{{ author.name }}</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}</div>
                </a>
                <div class="buy_area">
                    <span>{{ product.product.price|floatformat }} руб.</span>
                    <a href="{% url 'add_in_basket' product.id %}"><button class="buy_btn">Купить</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
