{% extends "base.html" %}
{% load static %}
{% block additional_styles %}
<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_main.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_card_product.css' %}">
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'store/js/buy_btn.js' %}"></script>
{% endblock %}
{% load static %}
{% block main_content %}
        <div class="main_content">
            <div class="scroll_panel">
                <h2><a href="{% url 'root_books' %}">Новинки: книги</a></h2>
                <ul class="scroll_area">
                    {% for book in books %}
                    <li class="item">
                        <a href="{{ book.get_absolute_url }}" title="{{ book.product.name }}">
                        <img src="{% static book.product.picture_name.url %}">
                        <div class="name_product"><span>{{ book.product.name }}</span></div>
                        <div class="author_product">
                        <span>
                        {% for author in book.authors.all %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </span>
                        </div></a>
                        <div class="buy_area">
                            <span>{{ book.product.price|floatformat }} руб.</span>
                            <button onclick="buyRequest(this, {{ book.product.id }})" class="buy_btn">Купить</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="scroll_panel">
                <h2><a href="{% url 'root_stationery' %}">Новинки: канцелярские товары</a></h2>
                <ul class="scroll_area">
                    {% for st in stationery %}
                    <li class="item">
                        <a href="{{ st.get_absolute_url }}" title="{{ st.product.name }}">
                            <img src="{% static st.product.picture_name.url %}">
                            <div class="name_product"><span>{{ st.product.name }}</span></div>
                        </a>
                        <div class="buy_area">
                            <span>{{ st.product.price|floatformat }} руб.</span>
                            <button onclick="buyRequest(this, {{ st.product.id }})" class="buy_btn">Купить</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="scroll_panel">
                <h2><a href="{% url 'root_creations' %}">Новинки: творчество</a></h2>
                <ul class="scroll_area">
                    {% for creation in creations %}
                    <li class="item">
                        <a href="{{ creation.get_absolute_url }}" title="{{ creation.product.name }}">
                        <img src="{% static creation.product.picture_name.url %}">
                        <div class="name_product"><span>{{ creation.product.name }}</span></div>
                        </a>
                        <div class="buy_area">
                            <span>{{ creation.product.price|floatformat }} руб.</span>
                            <button onclick="buyRequest(this, {{ creation.product.id }})" class="buy_btn">Купить</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
