{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/main/style_main.css' %}">{% endblock %}

{% block main_content %}
        <div class="main_content">
            <div class="scroll_panel">
                <h2><a href="">Header 1</a></h2>
                <ul class="scroll_area">
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                </ul>
            </div>
            <div class="scroll_panel">
                <h2><a href="">Header 1</a></h2>
                <ul class="scroll_area">
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                </ul>
            </div>
            <div class="scroll_panel">
                <h2><a href="">Header 1</a></h2>
                <ul class="scroll_area">
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                </ul>
            </div>
            <div class="scroll_panel">
                <h2><a href="">Header 1</a></h2>
                <ul class="scroll_area">
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                    <a href="#"><li class="item">
                        <img src="product.jpg">
                        <span calss="name_product">Name_product_very_very_long...</span>
                        <span calss="author_product">Autor_product_very_very_long</span>
                        <div class="buy_area">
                            <span>3000 руб.</span>
                            <button>Купить</button>
                        </div>
                    </li></a>
                </ul>
            </div>
        </div>
{% endblock %}
