{% extends "index.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_page_with_numbers.css' %}">{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main_content %}
        {% block content_at_page %}{% endblock %}
        <div class="numbers_page">
        {% for page_number in numbers_pages %}
            {% if page_number == current_page %}
            <span class="current_page">{{ page_number }}</span>
            {% else %}
            <a class="page_num" href="{{ current_url }}{{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}
