{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/category/style_category.css' %}">{% endblock %}
{% block title %} { name_category } {% endblock %}

{% block main_content %}
        <h2>Name category (всего 30 товаров)</h2>
        <div class="products">
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
            <a href="#"><div class="product">
                <img src="product.jpg">
                <span calss="name_product">Name_product_very_very_long...</span>
                    <span calss="author_product">Autor_product_very_very_long</span>
                    <div class="buy_area">
                        <span>3000 руб.</span>
                        <button>Купить</button>
                    </div>
            </div></a>
        </div>
        <div class="pages_numbers">
            <a href="#">1</a>
            <a href="#" class="current_page">2</a>
            <a href="#">3</a>
        </div>
{% endblock %}
