{% extends "base.html" %}
{% load static %}
{% block additional_styles %}
<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_product.css' %}">
{% endblock %}
{% block title %} {{ object.product.name }} {% endblock %}

{% block main_content %}
        <div class="product_page">
            <img src="{% static object.product.picture_name.url %}">
            <article>
                <p><b>{{ object.product.name }}</b></p>
                {% if object.authors.all %}
                <p><i>
                    {% for author in object.authors.all %}
                        {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </i></p>
                <br />
                {% endif %}
                {{ object.product.description }}
            </article>
            <div class="buy_area">
                <span>{{ object.product.price|floatformat }} руб.</span>
                <span>На складе: {{ object.product.count_in_stock }}</span>
                {% if object.product.count_in_stock > 0 %}
                <form method="post" action="{% url 'add_in_basket' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ object.product.id }}">
                    <button type="submit">Купить</button>
                </form>
                {% else %}
                <span>Товар отсутствует</span>
                {% endif %}
            </div>
        </div>
{% endblock %}
