{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/product/style_product.css' %}">{% endblock %}
{% block title %} {{ object.product.name }} {% endblock %}

{% block main_content %}
        <div class="product_page">
            <img src="{% static object.product.picture_name.url %}">
            <article>
                <p><b>{{ object.product.name }}</b></p>
                {% if object.authors.all %}
                <p><i>
                    {% for author in object.authors.all %}
                        {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </i></p>
                <br />
                {% endif %}
                {{ object.product.description }}
            </article>
            <div class="buy_area">
                <span>{{ object.product.price|floatformat }} руб.</span>
                <a href="{% url 'add_in_basket' object.product.id %}"><button>Купить</button></a>
            </div>
        </div>
{% endblock %}
