{% extends "base.html" %}
{% load static %}
{% block additional_styles %}<link type="text/css" rel="stylesheet" href="{% static 'store/css/profile/style_profile.css' %}">{% endblock %}
{% block title %}Profile: {{ user.username }}{% endblock %}

{% block main_content %}
        <div class="profile">
            <div class="user">
                <img src="{% static 'store/image/profile/avatar.jpg' %}">
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <button type="submit">Edit avatar</button>
            </div>

            <form method="post" class="edit_area">
                <label for="new_mail">{{ user.email }}</label>
                <label for="new_mail">New mail</label>
                <input type="text" name="new_mail">

                <label for="new_passwd">New passwd</label>
                <input type="password" name="new_passwd">
                <label for="repeat_new_passwd">Repeat new passwd</label>
                <input type="password" name="repeat_new_passwd">

                <label for="old_passwd">Current passwd</label>
                <input type="password" name="old_passwd">

                <button type="submit">Edit</button>

                {% if error %}
                    <p style="color: red">{{ error }}</p>
                {% endif %}
            </form>
        </div>

        <h2>История покупок</h2>
        <div class="story_sales">
            <ul>

                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
                <li>
                    <img src="product.jpg">
                    <div class="product_info">
                        <a href="#">Name_product very very longer...</a>
                        <span>Date buys: 03.04.2019<br />Количество: 5</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pages_numbers">
            <a href="#">1</a>
            <a href="#" class="current_page">2</a>
            <a href="#">3</a>
        </div>
{% endblock %}
