{% extends "store/page_with_numbers.html" %}
{% load static %}

{% block additional_styles %}
{{ block.super }}
<!--TODO create styles and set link-->
{% endblock %}

{% block content_at_page %}

<h2>История ваших покупок</h2>
{% for order in orders %}
<h3>Заказ номер {{ order.id }}. ({{ order.date }})</h3>
<ul>
    {% for product in order.products %}
    <li>
        <a href="{{ product.link }}">{{ product.instance.product.name }}</a>
        <p>Количество: {{ product.instance.count }}</p>
    </li>
    {% endfor %}
    <li>
    Итоговая цена: {{ order.total_price }}
    </li>
</ul>
{% endfor %}

{% endblock %}
