{% extends "store/page_with_numbers.html" %}
{% load static %}

{% block additional_styles %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'store/css/style_purchase_story.css' %}">
{% endblock %}

{% block content_at_page %}

<h2>История ваших покупок. Заказов за все время: {{ count }}.</h2>
{% for order in orders %}
<div class="order">
    <h3>Заказ № {{ order.id }}. Дата заказа: {{ order.date }}.</h3>
    <ul>
        {% for product in order.products %}
        <li class="product">
            <a href="{{ product.link }}">{{ product.instance.product.name }}</a>
            <p>Количество: {{ product.instance.count }}</p>
        </li>
        {% endfor %}
    </ul>
    <p>Итоговая цена: {{ order.total_price }}</p>
</div>
{% endfor %}

{% endblock %}
