.reg_page {
	display: flex;
	justify-content: center;
}

.reg_page form {
	display: grid;
}

.reg_page form * {
	justify-self: center;
	align-self: center;
}

.input_area {
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
}

.input_area * {
	margin: 5px;
}
