.reg_page {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.reg_page form {
	display: grid;
}

.reg_page form * {
	justify-self: center;
	align-self: center;
}

.reg_page form button {
	border-radius: 5px;
	background-color: white;
    border: none;
    cursor: pointer;
    height: 1.5em;
	color: black;
  	font-size: 16px;
  	border: none;
  	min-width: 50%;
}

.input_area {
	padding: 2em;
	margin: 1em;
    background-color: #81BAF5;
	border-radius: 5px;
	color: black;
	width: 35%;
}

.input_area a {
	color: black;
}

.input_area * {
	margin: 5px;
}
