.auth_page {
	display: flex;
	justify-content: center;
	align-content: center;
}

.auth_page form {
	display: grid;
}

.auth_page form * {
	justify-self: center;
	align-self: center;
}

.input_area {
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
}

.input_area * {
	margin: 5px;
}

.center_text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    font-size: 2em;
}
