{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet"  type='text/css'>
    <link rel="stylesheet"  type='text/css' href="{% static 'css/style.css' %}">
    {% block additional_styles %}{% endblock %}
    {% block base_url %}<base href = "http://127.0.0.1:8000/store" />{% endblock %}
    <title>{% block title %} Books store {% endblock %}</title>
</head>
<body>
    <div class="login_menu">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Профиль: {{ user.username }}</a> | <a href="{% url 'logout' %}?next=/">Выход</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
    <header>
        <div class="header_box">
            <div class="main_logo">
                <a href="{% url 'index' %}"><img src="{% static 'image/logo.png' %}"></a>
            </div>
            <form class="search_form" method="get" action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" placeholder="Поиск..." name="search">
                <button type="submit"></button>
            </form>
            <div class="basket">
                <a href="{% url 'basket' %}"><img src="{% static 'image/basket.png' %}"></a>
            </div>
        </div>
    </header>
    <nav>
        <ul class="hover_menu">
            <li><a href="{% url 'root_books' %}">Книги</a>
                <ul>
                    <li><a href="{% url 'root_books' 'programming' %}">Программирование</a></li>
                    <li><a href="{% url 'root_books' 'fiction' %}">Художественная литература</a></li>
                    <li><a href="{% url 'root_books' 'business' %}">Деловая литература</a></li>
                </ul>
            </li>
            <li><a href="{% url 'root_stationery' %}">Канцелярские товары</a>
                <ul>
                    <li><a href="{% url 'root_stationery' 'paper' %}">Бумажные изделия</a></li>
                    <li><a href="{% url 'root_stationery' 'writing' %}">Письменные принадлежности</a></li>
                </ul>
            </li>
            <li><a href="{% url 'root_creations' %}">Творчество</a>
                <ul>
                    <li><a href="{% url 'root_creations' 'tool' %}">Инструменты и приспосабления</a></li>
                    <li><a href="{% url 'root_creations' 'decoration' %}">Декарирование</a></li>
                    <li><a href="{% url 'root_creations' 'consumables' %}">Расходные материалы</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        {% block main_content %}{% endblock %}
    </main>
    <footer>
        <div class="footer_content">
            <div class="footer_contact">
                Электронная почта: babenko.denis3009@gmail.com
            </div>
            <div class="footer_copyright">
                <del>© copyright все права защищены.</del><br />
                Сайт написан с использованием фреймворка <a href="https://docs.djangoproject.com/" target="_blank">Django</a>.
                Исходный код вы можете найти по <a href="https://github.com/WtCrow/books_store" target="_blank">этой ссылке</a>.<br />
                Заполнение сайта любезно предоставлено магазином
                <a href="https://chitai-gorod.ru" target="_blank">Читай город</a>,
                простенький парсер так же прилагается к исходному коду.
            </div>
        </div>
    </footer>
</body>
</html>
