:root {
    --gutter: 20px;
}

.product {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    background: #456173;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    height: 400px;
    width: 200px;
}

.product * {
    align-self: center;
    justify-self: center;
}

.product img {
    height: 250px;
    width: 175px;
}

.name_product {
    max-height: 2.4em;
    overflow: hidden;
}

.buy_area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
