:root {
    --gutter: 20px;
}

.scroll_panel {
    display: grid;
    padding: 1em;
}

.scroll_panel h2 {
    padding-bottom: 15px;
}

.scroll_panel h2 a {
    color: black;
    text-decoration: none;
}

.scroll_panel h2 a:hover {
    text-decoration: underline;
}

.scroll_area {
    display: grid;
    list-style: none;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(10, 2fr);
    overflow-x: scroll;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    grid-auto-rows: minmax(auto, auto);
    scroll-snap-type: x proximity;
}
