h2 {
    padding: 15px;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;
    align-items: center;
    justify-content: center;
    background-color: #81BAF5;
    border-radius: 5px;
    overflow: hidden;
}

.product a {
    color: black;
    text-decoration: none;
}

.product a:hover {
    color: white;
}

.product * {
    align-self: center;
    justify-self: center;
    padding: 5px;
}

.product button {
}

.product button {
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2em;
    color: black;
    font-size: 16px;
    border: none;
    min-width: 50%;
    border: none;
}

.product img {
    height: 150px;
    background-color: white;
    border: 1px solid black;
}

.info_product {
    display: flex;
    flex-direction: column;
}

.detail_product_area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.change_count {
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
}

.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px;
}

.total button {
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2em;
    color: black;
    font-size: 16px;
    border: none;
    min-width: 50%;
    border: 1px solid gray;
}
