h2 {
    padding: 15px;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    background-color: #81BAF5;
    border-radius: 5px;
    overflow: hidden;
}

.product a {
    color: black;
    text-decoration: none;
}

.product a:hover {
    color: white;
}

.product * {
    align-self: center;
    justify-self: center;
    padding: 5px;
}

.product button {
}

.product button {
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2em;
    color: black;
    font-size: 16px;
    border: none;
    min-width: 50%;
    border: none;
}

.product img {
    height: 150px;
    background-color: white;
    border: 1px solid black;
}

.info_product {
    display: flex;
    flex-direction: column;
}

.change_count_area {
    display: flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.change_count_area a {
    text-decoration: none;
}

.change_count_area a:hover {
    text-decoration: none;
    color: white;
}

.flex_count_and_price {
    display: flex;
    flex-direction: column;
}

.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px;
}

.total button {
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2em;
    color: black;
    font-size: 16px;
    border: none;
    min-width: 50%;
    border: 1px solid gray;
}
