.product_page {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 1em;
	width: 100%;
	padding: 1em;
}

.product_page img {
	height: 450px;
	border: 1px solid black;
}

.buy_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.buy_area >* {
	margin: 1em;
}

.buy_area button {
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2em;
    color: black;
    font-size: 16px;
    border: none;
    width: 125px;
    border: 1px solid black;
}
